{% extends "WidgetsBundle::widget_layout.html.twig" %}

{% block widget_contnet %}
    <div className="row">
    <div className="span-none-padding-xlarge-24 margin-auto">
        <div className="info-empty-form">
            <div className="row">
                <i className="trinity-info"/>
            </div>
            <div className="row">
                <h2 className="warning">ERROR</h2>
            </div>
            <div className="row span-none-xlarge-10">
                <p> We are sorry, this widget can\'t be displayed. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}