{% extends "WidgetsBundle::widget_layout.html.twig" %}

{% block widget_contnet %}

    <div class="widget-chart" id="{{ widget.name }}">
        {# TODO @DavidCzernin please style this to be in center and big#}
        <i class="tiecons tiecons-loading spin margin-left-250 js-chart-spinner"></i>
    </div>

    <input type='hidden' class="chart-data-translator" data-type="chart"
           data-chart="{{ chart|json_encode }}" data-name="{{ widget.name }}"/>
    <input type='hidden' id="chart-{{ widget.name }}"/>
{% endblock %}