{% block grid %}

    {% block widget_start %}
        <section class="trinity-widget span-none-padding-medium-{{ size }} margin-top-20 padding-right-20">
    {% endblock %}

    {% block widget_header %}
        <header>
            {% block widget_title %}
                <h3 class="pull-left"> {{ title }} </h3>
            {% endblock %}

            {% block widget_remove %}
                {% if removable %}
                    <a class="pull-right" href="{{ getWidgetUrl('remove', widget) }}"> <i
                                class="tiecons tiecons-cross-angular"></i> </a>
                {% endif %}
            {% endblock %}
        </header>
    {% endblock %}


    {% block widget_contnet_wrapper %}
        <main>
            {{ block('widget_contnet') }}
        </main>
    {% endblock %}


    {% block widget_footer_wrapper %}
        <footer>
            {% block widget_footer %} {% endblock %}
        </footer>
    {% endblock %}


    {% block widget_end %}
        </section>
    {% endblock %}

{% endblock %}

