{% block grid %}

    {% block widget_start %}
        <div class="span-none-padding-large-{{ size }} ">
        <section class="trinity-widget">
    {% endblock %}

    {% block widget_header %}

        <header class=" row">
            {% block widget_title %}
                    <h3 class="pull-left widget-title">{{ title }}</h3>
            {% endblock %}
        </header>

    {% endblock %}


    {% block widget_contnet_wrapper %}
        <main class="row content-box">
            <div class="content">
                {#<table style="width:200px; border: #777 2px solid;">#}
                    {#<tr>#}
                        {#<td style="background-color:#f00; height: 10px; width: {{  }}"></td>#}
                        {#<td style="background-color:#555;"></td>#}
                    {#</tr>#}
                {#</table>#}
                {{ options }}
            </div>
        </main>
    {% endblock %}


    {% block widget_footer_wrapper %}
        <footer class="row">
            {% block widget_footer %} {% endblock %}
        </footer>
    {% endblock %}


    {% block widget_end %}
        </section>
        </div>
    {% endblock %}
{% endblock %}

